extends layout


block nav
  button.navbar-toggle(type="button", data-toggle="collapse", data-target="#bs-example-navbar-collapse-1")
    span.sr-only toogle navigation
    span.icon-bar
    span.icon-bar
    span.icon-bar
  a.navbar-brand(href='/') TRIBUNAL DE ETICA MEDICA
  #bs-example-navbar-collapse-1.collapse.navbar-collapse
    ul.nav.navbar-nav
      li
        a(href="/") 
          i.fa.fa-home
          |  Inicio
      li.active
        a() 
          i.fa.fa-gavel
          |  Sanciones
block content
  .container
    .row
      .col-lg-12
        .col-lg-3
          img(src="images/estetoscopio_maza.jpg", alt="")
        .col-lg-9.content-body
          form#form_datos(method="post" action="/medicos/sanciones")
            table.table
              caption.alert-info#exito Guardado con exito
              tr
                .form-group
                  td
                    label(for="cedula") Cédula:
                  td
                    input.form-control(name="cedula" id="cedula" placeholder="ingresar cédula")
                  td
                    label(for="tarjProf") Tarjeta profesional No:
                  td
                    input.form-control(name="tarjProf" id="tarjProf" placeholder="ingresar tarjeta profesional")
              tr
                .form-group
                  td
                    label(for="nombres") Nombres:
                  td
                    input.form-control(name="nombres" id="nombres" placeholder="ingresar nombres")
                  td
                    label(for="PrimApellido") Primer apellido:
                  td
                    input.form-control(name="PrimApellido" id="PrimApellido" placeholder="ingresar primer apellido")
              tr
                .form-group
                  td
                    label(for="SegApellido") Segundo apellido:
                  td
                    input.form-control(name="SegApellido" id="SegApellido" placeholder="ingresar segundo apellido")
                  td
                    label(for="profesion") Tipo de profesion:
                  td
                    input.form-control(name="profesion" id="profesional" placeholder="ingresar profesión")
              tr
                .form-group
                  td
                    label(for="inhabil") Inhabilidad:
                  td
                    select.form-control(name="inhabil" id="inhabil")
                      option(value="si") Si
                      option(value="no") No
                  td
                    label(for="estado") Estado:
                  td
                    select.form-control(name="estado" id="estado")
                      each estado in estados
                        option(value="#{estado._id}") #{estado.nombre}
              tr
                .form-group
                  td
                    label(for="sancion") Sancion:
                  td
                    select.form-control(name="sancion" id="sancion")
                      each sancion in sanciones
                        option(value="#{sancion._id}") #{sancion.nombre}
                .form-group
                  td(colspan="2")
                    textarea.form-control(name="observaciones" id="observaciones" style="height:70px;") Observaciones
              tr
                  td(colspan="2")
                    input.btn.btn-primary.col-lg-12(type="submit" id="guardar_sancion" style="vertical-align:middle;" value="guardar")
                  td(colspan="2")
                    input.btn.btn-default.col-lg-12(type="reset"  id="limpiar" style="vertical-align:middle;" value="limpiar")
block js
  script.
    $(document).ready(function(){
        $('#guardar_sancion').click(function(e){
            e.preventDefault();
            $.ajax({
                method:'post',
                url:'/medicos/sanciones',
                data:$('#form_datos').serialize(),
                success:function(data){
                  if(data.error==null){
                    $('#exito').css('display','block');
                  }else{
                    $('#exito').css('display','none');
                  }
                }
              });
          });
        $('#limpiar').click(function(e){
            $('#exito').css('display','none');
             
              });
        
        $('#cedula').blur(function(){
            $.ajax({
                method:'get',
                url:'/medico/'+$(this).val(),
                success:function(data){
                  if(data.doctor!=null){
                    $('#tarjProf').attr('readonly', true);
                    $('#tarjProf').val(data.doctor.TarjProf);
                    $('#nombres').val(data.doctor.nombres);
                    $('#PrimApellido').val(data.doctor.apellidos.primero);
                    $('#SegApellido').val(data.doctor.apellidos.segundo);
                    $('#profesional').val(data.doctor.profesion);
                  }else{
                    $('#tarjProf').val('');
                    $('#tarjProf').attr('readonly', false);
                    $('#nombres').val('');
                    $('#PrimApellido').val('');
                    $('#SegApellido').val('');
                    $('#profesional').val('');
                  }
                }
              });
          });

      });