extends layout


block nav
  button.navbar-toggle(type="button", data-toggle="collapse", data-target="#bs-example-navbar-collapse-1")
    span.sr-only toogle navigation
    span.icon-bar
    span.icon-bar
    span.icon-bar
  a.navbar-brand(href='/') TRIBUNAL DE ETICA MEDICA
  #bs-example-navbar-collapse-1.collapse.navbar-collapse
    ul.nav.navbar-nav
      li.active
        a() 
          i.fa.fa-home
          |  Inicio
      li
        a(href="/sanciones") 
          i.fa.fa-gavel
          |  Sanciones

//- block content
//-   .container
//-     .row
//-       .col-lg-12
//-         .jumbotron
//-           h2
//-             b Bienvenido al tribunal de etica medica Colombiano
//-           p(style="font-size:14px; text-align:justify") Nuestros objetivos son cumplir con la función establecida en la Ley 23 de 1981, repartiendo cuando es el caso las quejas para la iniciación de los correspondientes procesos éticos disciplinarios, desatando los recursos y velando por el cumplimiento de los preceptos legales.
//-             | Velar por que la elección de los Honorables Miembros de los Tribunales Seccionales, se realice de acuerdo con la Ley, buscando la excelencia y la ética.
//-             | Consolidar la base de datos nacional de los médicos que han sido sancionados en procesos ético disciplinarios en cada uno de los Tribunales Seccionales de Ética Médica.
//-             | Divulgar e informar masivamente sobre la existencia de la ley 23 de 1981 y su Decreto Reglamentario, y el funcionamiento de los Tribunales de Ética Médica.
//-             |  Manejar con transparencia y eficiencia los recursos transferidos por el MINISTERIO DE SALUD Y PROTECCIÓN SOCIAL para funcionamiento.
//-     .row
//-       .col-lg-4
//-           h2 Misión
//-           hr
//-           p.infoEs una entidad creada por la Ley 23 de Febrero 18 de 1981 y reglamentada por el Decreto 3380 de 1981, con sede en la capital de la República, con autoridad para conocer de los procesos disciplinarios ético profesionales que se presenten por razón del ejercicio de la Medicina en Colombia.
//-       .col-lg-4
//-         h2 Visión
//-         hr
//-         p.info Busca que la ética sea una constante para el médico, y en las relaciones de éste con sus pacientes, con las IPS, asociaciones científicas y Entidades de Control. 
//-       .col-lg-4
//-             h2 Contactenos
//-             hr
//-             table.table.contactos
//-               tr
//-                 td Teléfono:
//-                 td +018009003412
//-               tr
//-                 td Google +:
//-                 td
//-                   a(href="https://plus.google.com/u/0/113453703338000326461/posts" target="_blank")
//-                     i.fa.fa-google-plus-square &nbsp;+JersonBetin
//-               tr
//-                 td facebook:
//-                 td
//-                   a(href="https://www.facebook.com/jerson.betin?ref=tn_tnmn" target="_blank")
//-                     i.fa.fa-facebook-square &nbsp;Jerson Betin
//-               tr
//-                 td Twitter:
//-                 td
//-                   a(href="https://twitter.com/JersonBetin" target="_blank")
//-                     i.fa.fa-twitter &nbsp;@JersonBetin