doctype html
html(lang="es")
  head
    block title
        title= title

    meta(charset='utf-8')
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width')

    block meta
    link(rel='stylesheet', href='/stylesheets/css/slider.css')
    link(rel='stylesheet', href='/stylesheets/less/bootstrap/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/less/style_general/style.css')
    link(rel='stylesheet', href='/stylesheets/css/font-awesome.css')
    block css

    body
      block header
        .container
          .row.cssw
            .col-lg-12
              .callbacks_container
                ul.rslides#slider4
                  li.content-slider
                    img(src="/images/banner.png", alt="")
                  li.content-slider
                    img(src="/images/slider2.jpg", alt="")
                  li.content-slider
                    img(src="/images/slider3.jpg", alt="")
            .col-lg-12
              .navbar.navbar-default(role="navigation")
                .container
                  block nav
                    .navbar-header
    block content

  script(src="/javascripts/bootstrap/jquery.js")
  script(src="/javascripts/responsiveslides.min.js")
  script.
    $(function(){
        $("#slider4").responsiveSlides({
            auto: true,
            pager: false,
            nav: false,
            speed: 3000,
            namespace: "callbacks",
            before: function () {
              $('.events').append("<li>before event fired.</li>");
            },
            after: function () {
              $('.events').append("<li>after event fired.</li>");
            }
          });
      });

  block js