.nav-b{
  img{
    width: 100%;
  }
  margin-bottom: 20px;
}

.col-lg-3{
  img{
    width: 100%;
    height: 300px;
  }
}

.content-body{
  box-shadow: 3px 3px 4px lightgray, -3px -3px 4px lightgray;
}

#exito{
  height: 50px;
  font-weight: bold;
  font-size: 20px;
  padding: 10px 0px 10px 0px;
  display: none;
}



